<div class="content-wrapper">
    <section class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
        <section class="content-header">
            <h1>
                QUẢN LÝ
                <small>DANH MỤC</small>
            </h1>
            <ol class="breadcrumb">
                <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Trang chính</a></li>
                <li class="active">Danh mục</li>
            </ol>
        </section>
        
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
        
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Danh sách danh mục</h3>
                            <a ui-sref="add_category" style="margin-right:10px;position:absolute;right:0" class="btn btn-success"><i class="fa fa-fw fa-plus"></i>Thêm mới</a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên danh mục</th>
                                        <th style="width:8%">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in listItems|itemsPerPage:pageSize" total-items="totalItems">
                                        <td>{{item.item_group_name}}</td>
                                        <td>
                                            <a ng-click="deleteConfirm(item.item_group_id)" data-toggle="modal" data-target="#myModal"><i style="color:red" class="fa fa-fw fa-trash"></i></a>
                                            <a ng-click="edit(item.item_group_id)"><i style="color:green" class="fa fa-fw fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th style="width:8%">Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div ng-if="listItems" style="padding-top: 10px; padding-bottom:10px; text-align:center">
                                <dir-pagination-controls max-size="pageSize" direction-links="true" boundary-links="true"
                                                         on-page-change="loadItem(newPageNumber)">
                                </dir-pagination-controls>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Bạn đang yêu cầu xóa dữ liệu</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Bạn có thật sự muốn xóa dữ liệu này ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="deleteBtn" class="btn btn-danger" data-dismiss="modal">Xóa</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
        
                </div>
        
            </div>
        </div>
    </section>
</div>